.header {
    background-color: #f6f9fc;
    padding: 20px;
}
.header-image{
    width: 100%;
}
.header-features {
    padding: 31px;
}

.input-group input{
    width: 400px;
    padding: 22px;
    border: 1px solid gray;
    background-color: white;
    
  }
  
  h3.product-title {
    font-size: .8rem;
    height: 35px;
}
p.product-category {
    margin: 0 0 2px 0px;
    font-size: .65rem;
    color: #7d879c;
}
p.product-price {
    color: #4e54c8;
    font-size: 1rem;
    margin: 2px 2px;
    font-weight: 600;
}
button.full-width-button, .newsletter {
    display: block;
    width: 100%;
    margin: 7px 0;
}
button.full-width-button.btn.btn-primary:hover{
    
    border-color: #fe3638;
    background-color: #fe3638
}
button.quick-view{
     display: block;
    width: 100%;
    margin: 7px 0;
    background-color: white;
    border-color: white;
    color: black;
    padding: 0;
    margin: 0;
}
.singleProducts {
    margin: 7px;
    padding: 13px;
    border: 1px solid #e6dfdf;
}
.product-image img {
    height: 100%;
    width: auto;
}

.product-image {
    height: 249px;
    overflow: hidden;
    padding: 10px;
}
.featureImage img {
    width: 100% !important;
}
